<div class="container">
    <main>
        <div class="row g-5 py-5">

            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">Nota oluştur</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3 mb-5">
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Nota Adı</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        </div>
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Açıklama</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        </div>

                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Dosya</label>
                            <input type="file" class="form-control" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                        </div>
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Müzisyen</label>
                            <select class="form-select" id="inputGroupSelect04"
                                aria-label="Example select with button addon">
                                <option selected>Seçiniz...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                        </div>
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Enstürman</label>
                            <select class="form-select" id="inputGroupSelect04"
                                aria-label="Example select with button addon">
                                <option selected>Seçiniz...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                        </div>
                        <div class="col-sm-12">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label " for="flexCheckChecked">
                                Aktif mi?
                            </label>
                        </div>
                    </div>

                    <button class="w-10 btn btn-primary btn-lg" type="submit">Oluştur</button>
                </form>
            </div>
        </div>
    </main>
</div>