<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h5>Enstürman Listesi</h5>
        <button type="button" class="btn btn-success">Oluştur</button>
    </div>
    <hr>
    <div class="table-responsive">

        <table class="table caption-top">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button type="button" class="btn btn-primary me-2">Güncelle</button>
                        <button type="button" class="btn btn-danger">Sil</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                        <button type="button" class="btn btn-primary me-2">Güncelle</button>
                        <button type="button" class="btn btn-danger">Sil</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>
                        <button type="button" class="btn btn-primary me-2">Güncelle</button>
                        <button type="button" class="btn btn-danger">Sil</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>