<main>

    <div class="row sheet-music-row">





        <div class="col-md-3">
            <form class="d-flex mb-3">
                <input class="form-control me-2" type="search" placeholder="En az 3 karakter yazınız.."
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ara</button>
            </form>
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Enstürman </h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <form>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Piyano (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Gitar (4)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Keman (3)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Piyano (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Gitar (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Keman (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Piyano (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Gitar (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Keman (2)
                                </span>
                            </label>
                        </form>

                    </div>
                </div>
            </article>
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Müzisyen </h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <form>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Mozart (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Beethoven (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Bach (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Mozart (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Beethoven (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Bach (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Mozart (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Beethoven (2)
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Bach (2)
                                </span>
                            </label>
                        </form>

                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-9">
            <div class="row mb-5">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mozart-40. Senfoni</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ipsam.
                            </p>
                            <a href="#" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>