<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Oculux Bootstrap 4x admin is super flexible, powerful, clean &amp; modern responsive admin dashboard with unlimited possibilities.">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/sweetalert/sweetalert.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assetshtml/css/site.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/dropify/css/dropify.min.css">


    <title>@ViewData["Title"] - NotaMarket.Admin</title>

</head>
<body class="theme-cyan font-montserrat">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

        <nav class="navbar top-navbar">
            <div class="container-fluid">

                <div class="navbar-left">
                    <div class="navbar-btn">
                        <a href="index.html"><img src="../assets/images/icon.svg" alt="Oculux Logo" class="img-fluid logo"></a>
                        <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                    </div>

                </div>

                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="page-login.html" class="icon-menu"><i class="icon-power"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>
        </nav>





        <div id="left-sidebar" class="sidebar">
            <div class="navbar-brand">
                <a asp-controller="Admin" asp-action="Index"><img src="~/assets/images/icon.svg" alt="Oculux Logo" class="img-fluid logo"><span>Nota Market</span></a>
                <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
            </div>
            <div class="sidebar-scroll">
                <div class="user-account">
                    <div class="user_div">
                        <img src="~/assets/images/user.png" class="user-photo" alt="User Profile Picture">
                    </div>
                    <div class="dropdown">
                        <span>Merhaba,</span>
                        <a href="javascript:void(0);" class=" user-name" data-toggle="dropdown"><strong>Kerim Can</strong></a>
                    </div>
                </div>
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li class="header">Ana operasyon</li>
                        <li>
                            <a href="#myPage" class="has-arrow"><i class="icon-home"></i><span>Müzik</span></a>
                            <ul>
                                <li><a asp-controller="AdminSheetMusic" asp-action="Index">Nota</a></li>
                                <li><a asp-controller="AdminMusician" asp-action="Index">Müzisyen</a></li>
                                <li><a asp-controller="AdminInstrument" asp-action="Index">Enstürman</a></li>
                                <li><a asp-controller="AdminInstrumentType" asp-action="Index">Enstürman Tipi</a></li>

                            </ul>
                        </li>
                        <li class="header">Kullanıcı</li>
                        <li><a href="app-inbox.html"><i class="icon-envelope"></i><span>Kullanıcı oluştur</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>



    <!-- Javascript -->
    <script src="~/assetshtml/bundles/libscripts.bundle.js"></script>
    <script src="~/assetshtml/bundles/vendorscripts.bundle.js"></script>
    <script src="~/assetshtml/bundles/mainscripts.bundle.js"></script>

    <script src="~/assetshtml/bundles/datatablescripts.bundle.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script><!-- SweetAlert Plugin Js -->
    <script src="~/assets/vendor/parsleyjs/js/parsley.min.js"></script>
    <script src="~/assetshtml/js/pages/tables/jquery-datatable.js"></script>

    <script src="~/assets/vendor/dropify/js/dropify.js"></script>
    <script src="~/assetshtml/js/pages/forms/dropify.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
